
body{
  background-color: cornsilk;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1 {
    color: #5c2a9d;
    margin-left: 20px;
  }

  h3 {
    font-family: cursive;
    color: #5c2a9d;
    margin-left: 20px;
  }